body {
  background-color: rgb(65, 69, 68);
  background: linear-gradient(105deg, rgb(197, 197, 197) 10%, rgb(39, 40, 40));
  margin:0;
  scrollbar-width: none;
}

a:any-link{
  text-decoration: none;
  color:var(--secundo-color);
}

:root {
  --primo-color:#333;
  --secundo-color:#0E723C;
    box-sizing: border-box;
    font-family: sans-serif;
  --box-radius: 0.4rem;
  --box-stripe-bg-color: rgb(255, 255, 255);
  --normal-text-size: clamp(0.8rem, 0.3rem + 1.4vw, 1rem);
  --mid-text-size: clamp(0.95rem, 0.5rem + 1.4vw, 1.2rem);
  --big-text-size: clamp(1rem, 0.9rem + 1.4vw, 1.4rem);
  --media-mobile-break: 980px;
}

a.btn-ro {
  font-size: var(--normal-text-size);
  text-decoration: none;
  width: min-content;
  border-radius: 0.25rem;
  padding: 1px 1rem;
  display: flex;
  place-items: center;
  justify-content: center;
  color: var(--primo-color);
  cursor: pointer;
  word-break: keep-all;
  white-space: nowrap;
  height: 2rem;
  max-height: 54px;
}

.btn-ro-border {
  background: linear-gradient(115deg, rgb(255, 255, 255) 10%,rgba(232, 230, 230, 0.95) );
  color: #333;
  border:3px solid var(--primo-color);
}

a.btn-ro-border:hover{
  border-color: var(--secundo-color);
}

@media screen and (max-width:var(--media-mobile-break)){
  a.btn-ro{
    font-size: calc(var(--normal-text-size) * 1.3);
    padding: 12px 3rem;
    border:2px solid var(--primo-color);
  }
}

@media screen and (max-width:500px){
  a.btn-ro{
    padding: 6px 4rem;
    border:2px solid var(--primo-color);
    width: auto;
  }
}

/*--------- HEADER ------------------- */

header {
  display: grid !important;
  grid-template-columns: 2fr 50px auto;
  grid-template-rows: min-content 2fr;
  justify-items: stretch;
  align-items: center;
  gap: 15px;
  border-bottom: clamp(10px, 1.5vw, 18px) solid rgba(0, 0, 0, 0.8);
  box-shadow: 0 -6px 0 inset #ccc;
  padding: 1rem calc(2rem + 4vw);
  background: linear-gradient(155deg, #fff 60%, #c0c0c0);
  overflow: hidden; 
}

@media screen and (max-width:1080px){
  header{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    padding: 10px 30px;
    justify-items: center;
    justify-content: space-between;
    gap: 3px;
  }
}

/*--------- LOGO TOP ------------------- */

header .logo-top {
  display: flex;
  align-items: center;
  grid-column: 1;
  grid-row: 1 / 4;
}

@media screen and (max-width:1080px){
  header .logo-top{
  grid-column: 1;
  grid-row: 3;  
  display: flex;
  flex-direction: column;
  position: relative;
  top:-15px;
  gap:10px
  }
}

header .logo-top .c_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header .logo-top .c_name h1 {
  font-size: clamp(1rem, 0.8rem + 2vw , 2.5rem);
  font-weight: 700;
  color: #333;
  width: max-content;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0;
}

header .logo-top .c_name p {
  color:chocolate;
  font-size: clamp(1rem, 0.5em + 2vw, 2em);
  font-weight: 400;
  margin: 0;
}

header .logo-top img {
  height: clamp(70px, 70px + 6vw, 190px);
}

@media screen and (max-width:1080px){
  header .logo-top{
  position: relative;
  top:-30px;
  }
  header .logo-top .c_name{
  align-items: center;
  }
  header .logo-top img {
    height: calc(100px + 10vw);
  }
}

/* ------------------------------------------ */

header .lang {
  grid-column: 4/6;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  gap: calc(5px + 1vw);
  font-size: 1em;
}

header .lang select {
font-size: var(--normal-text-size);
padding: 0.5rem 1rem;
}

@media screen and (max-width:1080px){
  header .lang{
    grid-column:1;
    grid-row: 1;
    padding:10px 20px;
    width: 100%;
    justify-content: space-between;    
  }
}

#NewheaderCardPanel {
  grid-column: 2 / 6;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  width: max-content;
  height: fit-content;
  gap: clamp(20px, 5px + 0.7vw, 30px);
  padding: calc(7px + 0.7vw);
  background: linear-gradient(250deg, #e3e3e3 5%, white 70%);
  border-radius: 0.4rem;
  box-shadow: 0 0 17px 0px #bbb;
  border-bottom: 1px inset #f2f2f2;
  border-right: 1px inset #f2f2f2;
  overflow: hidden;
}

@media screen and (max-width:1080px){
  #NewheaderCardPanel {
  grid-column: 1;
  grid-row: 4 / 5;
  justify-items: center;
  align-self: center;
  background: none;
  box-shadow: none;
  border: none;
  width: 94%;
  gap: 40px;
  }
}

@media screen and (max-width:500px){
  #NewheaderCardPanel {
  flex-direction: column;
  grid-column: 1;
  grid-row: 4 / 5;
  justify-items: center;
  align-self: center;
  background: none;
  box-shadow: none;
  border: none;
  width: 94%;
  gap: 10px;
  }
}

#assignAccountContainer:empty {
  display: none;
}

/*---------------- #NewheaderCardPanel AFTER LOGGED ------------------------ */

.user-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  aspect-ratio: 1 / 1;
  padding: 0.5em;
  background-color: white;
  border-radius: 90%;
  box-shadow: 0 0 2px;
}

#user-attr {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-name {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 3px;
  font-size: clamp(0.5em, 0.88em, 1.1em);
}

.user-name div:nth-child(2) > a:hover {
  color: green;
}

.user-perks {
}

#cart_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6px;
}

#cart_panel .cart {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

#cart_panel .cart img {
  width: 30px;
  aspect-ratio: 1 / 1;
}

#cart_panel .cart .cart_count::after {
  content: attr(data-cart_count);
  background-color: var(--header-subtitle-color);
  padding: 0.4em;
  width: 1em;
  clip-path: circle();
  font-size: x-small;
  font-weight: 500;
  color: white;
  text-align: center;
  position: relative;
  top: -15px;
  left: -2px;
}

#cart_panel .cart .cart_count:where([data-cart_count=''])::after {
  visibility: hidden;
}

#cart_panel .clock {
  color: darkred;
}

#cart_panel .clock p:nth-child(1) {
  font-size: 0.85em;
}
#cart_panel > div:nth-child(2) p:nth-child(2) {
  font-weight: 600;
}
.cart_delete {
  font-size: large;
  padding: 0 8px;
}



/* -------------------- INDEX LAYOUT TAMPLATE ------------------ */

.box-wrap {
  width: 84vw;
  max-width: 1580px;
  margin: 3vw auto;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  gap: 35px;
}

.box-wrap > div:nth-child(1) {
  flex: 1 1 100%;
  aspect-ratio: 16 / 9; 
}

.box-wrap > div:nth-child(n + 2) {
  flex: 1 1 48%;
  aspect-ratio: 10 / 14;
}

@media screen and (max-width:1080px){
  .box-wrap{
    width:96%;
  }
.box-wrap > div:nth-child(n) {
    flex: 1 1 100%;
    aspect-ratio: 10 / 14;
}
}

/*--------  BOX EVENT ---------------- */

.box {
  border-radius: 0.3em;
  display: flex;
  gap:0;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 0px 10px 1px rgb(32, 28, 28, 0.3);
  overflow: hidden;
  background-color: #333;
}

.box picture {
  flex: 1 0 auto;
  background-color: var(--box-stripe-bg-color);
}

.box img{
  flex: 1 0 auto;
  object-fit:cover;
  object-position:center bottom;
  display: block;
  opacity: 0.98;
}

.box .stripe {
  flex: 0 1 auto;
  padding: calc(10px + 1vw) calc(20px + 1.8vw) 20px;
  background-color: var(--box-stripe-bg-color);
  display: grid;
  grid-template-columns:2fr auto auto;
  grid-template-rows: repeat(3 , auto);
  gap:5px;
  z-index: 5;
 
}

@media screen and (min-width:1600px){
.box .stripe{
  min-height: 170px;
}
}

@media screen and (min-width:500px){
  .box .stripe {

 
  }
 }

.box .stripe .title {
  font-size: var(--big-text-size);
  font-weight: 600;
  color: var(--secundo-color);
  flex:0 0 100%;
}

.box-wrap > div:nth-child(1) .stripe .title {
  grid-column: 1 / 3;
  grid-row: 1;
}

.box-wrap > div:nth-child(n + 2) .stripe .title {
  grid-column: 1 / 5;
  grid-row: 1;
}

.box .stripe .date {
  grid-column: 1;
  grid-row: 2;
  font-size: var(--mid-text-size);
  color: var(--primo-color);
  font-weight: 400;
}


.box-wrap > div:nth-child(1) > .stripe a.btn-ro {
  grid-column: 3 / 5;
  grid-row: 1;
}

.box-wrap > div:nth-child(n + 2) > .stripe a.btn-ro {
  grid-column: 3 / 5;
  grid-row: 2;
}

@media screen and (max-width:1080px) {
  .box-wrap > div:nth-child(n) > .stripe .title {
    grid-column: 1 / 5;
    grid-row: 1;
  }
  .box-wrap > div:nth-child(n) > .stripe .date {
    grid-column: 1 / 5;
    grid-row: 2;
  }
  .box-wrap > div:nth-child(n) > .stripe a.btn-ro {
    grid-column: 3 / 5;
    grid-row: 3;
  }
 }

 @media screen and (max-width:500px) {
  .box-wrap > div:nth-child(n) > .stripe .title {
    grid-column: 1 / 5;
    grid-row: 1;
  }
  .box-wrap > div:nth-child(n) > .stripe .date{
    grid-column: 1 / 5;
    grid-row: 2;
  }
  .box-wrap > div:nth-child(n) > .stripe a.btn-ro {
    grid-column: 1 / 5;
    grid-row: 3;
    justify-self: center;
  }
 }




