body {
  background-color: aquamarine;
}

:root {
  box-sizing: border-box;
  font-family: sans-serif;

  --card-radius: 6px;
  --card-bg-color: rgb(223, 226, 27);
  --card-title-bg-color: white;

  /* -- card-h = card horizontal --*/
  --card-h-width: 1260px;
  --card-h-height: calc(var(--card-h-width) / 2);

  /* -- card-v = card vertical --*/
  --card-v-width: calc(var(--card-h-width) / 3);
  --card-v-height: calc(var(--card-h-height) / 1.25);

  --nav-height: calc(120px + (2vh + 2vw));
}

nav {
  width: 102%;
  margin-left: -1%;
  height: var(--nav-height);
  padding: 1em 2vw;
  background-color: azure;
  box-shadow: 0 5px 12px rgb(32, 28, 28, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  overflow: auto;
}

nav img {
  height: 94%;
  max-height: 150px;
  width: auto;
}

nav .login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav .login p {
  margin-top: 0;
}

nav .btn-nav-login {
  height: 76px;
  border-radius: 12px;
  background: linear-gradient(35deg, azure, lightblue);
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

/* --------------------------------------------------- */

.grd-wrap {
  width: 82vw;
  margin: 3vw auto;
  overflow-x: hidden;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  padding: 0 10px;
  gap: 35px;
}

.grd-wrap > div:nth-child(1) {
  flex: 1 1 100%;
}

.grd-wrap > div:nth-child(n + 2) {
  flex: 1 1 48%;
}

/*---------------- EVENT CARD -------------------- */

.card {
  border-radius: 0.5em;
  background-color: var(--card-bg-color);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 5px 7px rgb(32, 28, 28, 0.3);
}

.card-h {
  min-width: 600px;
  min-height: var(--card-h-height);
}

.card-v {
  min-width: 350px;
  min-height: var(--card-v-height);
}

.pict {
  background-image: url('https://images.unsplash.com/photo-1650410368017-d1304b35876b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80');
  background-size: cover;
}

.stripe {
  padding: 18px 30px 35px;
  background-color: var(--card-title-bg-color);
  display: flex;
}

.card-h .standard.stripe {
  grid-area: a;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.card-h .center.stripe {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.card-v .stripe {
  flex-flow: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.card-v .title {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 35px;
  color: rgb(100, 100, 100);
  flex-basis: 100%;
}

.standard .title {
  font-size: 1.7em;
  font-weight: 400;
  margin-bottom: 35px;
  color: rgb(100, 100, 100);
  flex-basis: 100%;
}

.center .title {
  font-size: 1.7em;
  font-weight: 400;
  margin-bottom: 25px;
  color: rgb(100, 100, 100);
}

.data {
}

.standard .btn {
  flex-basis: auto;
}

.center .btn {
  margin-top: 20px;
}

a.btn {
  font-size: 1em;
  text-align: center;
  line-height: 1.5em;
  font-weight: 500;
  text-decoration: none;
  padding: 0.4em 1em;
  width: fit-content;
  background-color: darkmagenta;
  color: whitesmoke;
  border-radius: var(--card-radius);
  margin: 1em;
}
